* {
  box-sizing: border-box;
  font-family: "Karla", "sans-serif";
}

body {
  margin: 0;
  background-color: #F5F7FB;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.App {
  padding: 75px;
  display: flex;
  flex-direction: column;
  color: #293264;
  max-width: 1000px;
  align-items: center;
}

.app--footer {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.question {
  margin: 30px 0;
  font-weight: bold;
  font-size: 16px;
}

.question--question {
  margin-bottom: 15px;
}

.question--answers {
  display: flex;
}

.question--answers-button {
  color: #293264;
  background-color: #F5F7FB;
  border: solid #4D5B9E 1px;
  border-radius: 8px;
  padding: 5px 9px;
  min-width: 65px;
  font-weight: 100;
  font-size: 10px;
  margin-right: 12px;
  margin-bottom: 5px;
}

.starter {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 195px;
}

.starter--title {
  font-size: 35px;
  font-weight: bold;
}

.starter--button, .check-answers {
  font-size: 16px;
  background-color: #4D5B9E;
  padding: 16px 60px;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.check-answers {
  align-self: center;
}




